/* Import Fonts */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: none;
}

/* Shared */
section {
  margin: 0px 90px 76px 90px;
}

body {
  background-color: #f1f1f3;
}

.img {
  margin-bottom: 24px;
}

.section-title {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 30px;
}

.section-subtitle {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 0;
  margin-bottom: 23px;
}

.card-title {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 19px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 0;
  margin-bottom: 12px;
}

.card-description {
  color: rgba(14, 14, 14, 0.7);
  font-family: Fira Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
}

/* Nav */
nav {
  display: flex;
  padding: 20px 150px 20px 150px;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: left;
}

.nav-btn {
  color: rgb(0, 106, 80);
  font-family: Fira Sans;
  font-size: 17px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
  width: 111px;
  height: 54px;
  box-sizing: border-box;
  border: 1px solid rgb(0, 106, 80);
  border-radius: 8px;
}

/* Banner */
#banner {
  display: flex;
  justify-content: center;
}

.banner-container {
  display: flex;
  border-radius: 24px;
  background: rgb(198, 228, 214);
  justify-content: center;
  align-items: center;
  padding: 77px 96px 77px 96px;
  gap: 62px;
}

.banner-content .banner-subtitle {
  color: rgba(14, 14, 14, 0.5);
  font-family: Fira Sans;
  font-size: 23px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 14px;
}

.banner-content .banner-title {
  color: rgb(14, 14, 14);
  font-family: Fira Sans;
  font-size: 54px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 0;
  margin-bottom: 23px;
}

.banner-content .banner-btn {
  width: 260px;
  height: 54px;
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 17px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
  background: rgb(0, 106, 80);
  border: none;
}

/* Pillar */

.pillar-card-container {
  display: flex;
  justify-content: space-between;
  /* gap: 24; */
}

.pillar-card {
  width: 290px;
  height: 234px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  padding: 23px;
}

/* Vision */

.vision-card-container {
  display: flex;
  justify-content: space-between;
}

.vision-card {
  width: 400px;
  height: 312px;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 31px;
  align-content: center;
}

.card-1 {
  background: rgba(84, 144, 245, 0.2);
}

.card-2 {
  background: rgb(198, 228, 214);
}

.card-3 {
  background: rgb(247, 235, 207);
}

.vision-btn {
  width: 117px;
  height: 39px;
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
  border: none;
}

.btn-1 {
  background: rgb(84, 144, 245);
}

.btn-2 {
  background: rgb(9, 161, 92);
}

.btn-3 {
  background: rgb(255, 194, 57);
}

/* Quote */
#quote {
  padding: 40px 23px 40px 23px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  background-image: url("assets/quote-bg.png");
  background-repeat: no-repeat;
  background-position: 2% 18%;
}

.quote-title {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 19px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 0;
  margin-bottom: 3px;
}

.quote-subtitle {
  color: rgba(14, 14, 14, 0.6);
  font-family: Fira Sans;
  font-size: 15.3px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: left;
  margin: 0;
}

/* News */
.news-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
  padding: 46px;
  background: rgb(255, 255, 255);
  gap: 32px;
  margin-top: 23px;
}

.news-img img {
  border-radius: 24px;
}

.news-content .margin-t {
  margin-top: 0;
}

.news-btn {
  width: 133px;
  height: 46px;
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 17px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0%;
  border: none;
  border-radius: 8px;
  background: rgb(0, 106, 80);
}

.news-title {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 31px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 10px;
}

.date {
  display: flex;
  gap: 11px;
  margin-bottom: 0;
}

/* Donate */
#donate {
  text-align: center;
}

#donate .section-title {
  text-align: center;
}

.donate-desc {
  padding: 0 100px;
}

.donate-btn-container {
  display: flex;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 32px;
  gap: 23px;
}

.amount-btn {
  color: rgba(14, 14, 14, 0.8);
  font-family: Fira Sans;
  font-size: 38px;
  font-weight: 700;
  line-height: 46px;
  letter-spacing: 0%;
  text-align: left;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  padding: 40px;
}

.amount-input {
  width: 990px;
  height: 61px;
  font-family: Fira Sans;
  font-size: 19px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 32px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(14, 14, 14, 0.15);
  background: rgb(255, 255, 255);
  padding: 19px 38px 19px 38px;
  color: rgba(14, 14, 14, 0.3);
}

.donate-btn {
  color: rgb(255, 255, 255);
  font-family: Fira Sans;
  font-size: 17px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0%;
  text-align: left;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.1);
  border-radius: 8px;
  background: rgb(0, 106, 80);
  padding: 17px 34px 17px 34px;
}
